%h2 Details about "#{@movie.title}"

%ul#details
  %li
    Rating:
    = @movie.rating
  %li
    Release date:
    = @movie.release_date.strftime("%B %d, %Y")

- if @movie.description and !@movie.description.empty?
  %h3 Description:
  %p#description= @movie.description

= link_to 'Back to movies', movies_path
= link_to 'Edit info', edit_movie_path(@movie)
